<div class="footer">
    <div class="pull-right">
        <a href="http://bluecrystalschool:8080/">www.bluecrystalteam.com</a>
    </div>
    <div>
        <strong>Powered By Blue Crystal Team</strong> &copy; 2018
    </div>
</div>
