
<li>
    <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label">Soutien Scolaire </span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li>
     
            @Html.ActionLink("Eleves", "Index", "CSEleves", new { area = "CoursSoutiens"}, null)
        </li>
        @*<li>
            <a href="#">Presences Eleves</a>
        </li>

        <li>
            <a href="#">Paiement Eleves</a>
        </li>*@
        <li>
         
         @*   @Html.ActionLink("Enseignants","Index","CSEnseignants", new { area  = "Courssoutiens"}, null)*@
        </li>

        @*<li>
            <a href="#">Pointage Ensignants</a>
        </li>


        <li>
            <a href="#">Paiement Ensignants</a>
        </li>*@
    </ul>
</li>